<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <title>샘플 게시판</title>
</head>
<style>
</style>
<body>
<nav th:replace="~{/common/navbar :: navbar-fragment}"></nav>
<th:block layout:fragment="content"></th:block>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>

<!-- services와 clusterer, drawing 라이브러리 불러오기 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=220587205376aa7075ef6e81683508d3&libraries=services,clusterer,drawing"></script>

<th:block layout:fragment="script"></th:block>
<script>
//이미지 지도에서 마커가 표시될 위치입니다 
var markerPosition  = new kakao.maps.LatLng(37.571213660224636, 126.9912951344383); 

// 이미지 지도에 표시할 마커입니다
// 이미지 지도에 표시할 마커는 Object 형태입니다
var marker = {
    position: markerPosition
};

var staticMapContainer  = document.getElementById('staticMap'), // 이미지 지도를 표시할 div  
    staticMapOption = { 
        center: new kakao.maps.LatLng(37.571213660224636, 126.9912951344383), // 이미지 지도의 중심좌표
        level: 1, // 이미지 지도의 확대 레벨
        marker: marker // 이미지 지도에 표시할 마커 
    };    

// 이미지 지도를 생성합니다
var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
</script>
</body>
</html>