<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/base}">
   <div layout:fragment="content" class="container my-3">
      <div class="row mb-3">
      	<div class="col-12">
      		<h1>로그인 폼 화면</h1>
      	</div>
      </div>
      <div class="row mb-3">
	  	<div th:if="${#strings.equals(param.error, 'fail')}" class="alert alert-danger">
			<strong>로그인 실패</strong> 아이디 혹은 비밀번호가 일치하지 않습니다.
		</div>
		<div th:if="${#strings.equals(param.error, 'denied')}" class="alert alert-danger">
		    <strong>요청 거부</strong> 로그인이 필요한 요청입니다.
		</div>
		<div th:if="${#strings.equals(param.error, 'forbidden')}" class="alert alert-danger">
		    <strong>접근 권한 부족</strong> 해당 요청에 필요한 권한이 없습니다.
		 </div>
	     	<form class="border bg-light p-3" method="post" th:action="@{/member/login}">
	     		<div class="form-group mb-3">
					<label class="form-label">아이디</label>     		  
					<input type="text" class="form-control" name="id" >
	      		</div>
	      		<div class="form-group mb-3">
					<label class="form-label">비밀번호</label>     		  
					<input type="password" class="form-control" name="password" >
      			</div>
      			<div class="text-end">
      				<button type="submit" class="btn btn-primary">로그인</button>
      			</div>
	    	</form>
    	</div>
	</div>
</html>